* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100%; */
  
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
/* input header */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  padding: 0 1rem;
}

.input__container {
  height: 2rem;
  display: flex;
  flex-wrap: nowrap;
  /* padding: 0 0 0 100%; */
 
}
.input__container input {
  font-weight: 500;
  font-size: 1rem;
}

.input__container button {
  color: white;
  background: rgb(255, 115, 0);
  text-transform: uppercase;
  border: none;
  height: 100%;
}

/* navigation */
.nav__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;;
}
.nav__ul {
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 0 auto;
}

.nav__items {
  width: 100%;
  background: blue;
  padding: 0.5rem 2rem;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  margin: 2px 3px 0;
  list-style-type: none;
}
.nav__items:nth-child(3n + 2) {
  background: rgb(255, 115, 0);
}
.nav__items:nth-child(3n + 3) {
  background: rgb(175, 176, 180);
}
.nav__link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

main {
  display: flex;
  /* justify-content: center; */
}

.aside__container{
  height: fit-content;
}

.aside__menu {
  
  list-style-type: none;
  flex-direction: column;
  width: 250px;
  padding: 0 1rem;
}
.aside__items {
  display: flex;
  margin: 2px;
  white-space: nowrap;
  height: 2rem;
}
.aside__items a {
  background: lightblue;
  text-decoration: none;
  padding: .5rem 1rem .5rem ;
  width: 100%;
  font-weight: 700;
  margin: 0;
  color: rgb(29, 114, 178);
}

.about__container {
  width: 100%;
  margin: 0 1rem;
}

.img-container {
  display: flex;
}

.img-container h2 {
  display: flex;
  margin-bottom: 0;
  color: white;
  width: 100%;
  background: rgb(175, 176, 180);
  border-radius: 0 23px 0 0;
  justify-content: flex-end;
  padding: 0 1rem 0 0;
}
.img__about {
  width: 100%;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

footer {
  display: block;
  background: lightgray;
  text-align: center;
  color: grey;

  bottom: 0;
}

footer ul {
  display: flex;
  justify-content: center;
}
footer li {
  list-style-type: none;
  padding: 1rem 0.5rem 0rem;
}
footer a {
  color: grey;
}
footer p {
  margin-bottom: 0;
}

sub {
  margin-bottom: 2rem;
}
