* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100%; */
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  /* width: 1300px; */
  max-width: 1300px;
}
/* input header */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  padding: 0 1rem;
}

.input__container {
  height: 2rem;
  display: flex;
  flex-wrap: nowrap;
  /* padding: 0 0 0 100%; */
}
.input__container input {
  font-weight: 500;
  font-size: 1rem;
}

.input__container button {
  color: white;
  background: rgb(255, 115, 0);
  text-transform: uppercase;
  border: none;
  height: 100%;
}

/* navigation */
.nav__container {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav__ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__items {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(29, 114, 178);
  padding: 0.5rem 2rem;
  white-space: nowrap;
  text-align: center;
  margin: 2px 3px 0;
  list-style-type: none;
}
.nav__items:nth-child(3n + 2) {
  background: rgb(255, 115, 0);
}
.nav__items:nth-child(3n + 3) {
  background: rgb(175, 176, 180);
}
.nav__link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

main {
  display: flex;
  /* justify-content: center; */
}
@media (max-width: 28rem) {
  .header__container {
    flex-direction: column;
  }
  main {
    flex-direction: column;
  }

  .nav__ul {
    flex-direction: column;
  }
  footer ul {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
}

/* Aside Section */
.aside__container {
  height: fit-content;
}

.aside__menu {
  list-style-type: none;
  flex-direction: column;
  width: 250px;
  padding: 0 1rem;
}
.aside__items {
  display: flex;
  margin: 2px;
  white-space: nowrap;
  height: 2rem;
}
.aside__items a {
  background: lightblue;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem;
  width: 100%;
  font-weight: 700;
  margin: 0;
  color: rgb(29, 114, 178);
}
/* About/Hero section */
.about__container {
  width: 100%;
  margin: 0 1rem;
  padding: 0 0;
}

.img-container {
  display: flex;
}

.img-container h2 {
  display: flex;
  margin-bottom: 0;
  color: white;
  width: 100%;
  background: rgb(175, 176, 180);
  border-radius: 0 23px 0 0;
  justify-content: flex-end;
  padding: 0 1rem 0 0;
}
.img__about {
  width: 100%;
}
/* Tab Section */
.tab {
  overflow: hidden;
  margin-bottom: -1px;
}

.tab button {
  background-color: rgb(238, 238, 238);
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: rgb(29, 114, 178);
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-right: 5px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background: white;
}
.tab__item.active {
  display: block;
}

.tab__item {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  background: rgb(238, 238, 238);
  text-align: center;
  color: rgb(175, 176, 180);
}

footer ul {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0.25rem;
}
footer li {
  list-style-type: none;
  padding: 0.5rem 0.5rem 0rem;
}
footer a {
  color: rgb(175, 176, 180);
}
footer p {
  margin: 0.25rem 0 0.5rem;
}

sub {
  margin: 0.25rem 0 1rem;
}
